<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Evaluate the News w/ Natural Language Processing</title>
    </head>

    <body></body>
        <header>
            <h1>Sentiment Analysis using MeaningCloud API</h1>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" placeholder="http://">
                    <input type="submit" id="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="score"></div>
                <div id="subjectivity"></div>
                <div id="agreement"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>

        </main>

        <footer>
            <p>Project By: Raphael Dozzi - October 2020</p>
        </footer>

    </body>
</html>
