main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    text-align: center;
}

main form{
    display: inline-block;
    width: 75%;

}

form #url {
    width: 100%;
    font-size: large;
}

form #submit {
    margin-top: 15px;
}

